.main_navbar{
    background-color: #0FAEB5;
    width: 100%;
    padding: 15px;
    color: #FFFFFF;
    width: 100%;
}

/* .text_color{
    color: #C9CBCB;
    background-color: #A3A5A5;
    text-emphasis-color: #037B81;
} */